/* --celeste: #adfffaff;
--dark-slate-gray: #1a5e63ff;
--metallic-seaweed: #028090ff;
--light-yellow: #f7f9dcff;
--red-violet-crayola: ;
--oxford-blue: #0b132bff;
--y-in-mn-blue: #3d528fff;
--shadow-blue: #6d8bb0ff;
--copper-crayola: #e88d67ff;
--honeydew: #eff8e2ff; */

:root{
    /* variables */

    --fnt-page-title: 'Cinzel Decorative', cursive;
    --fnt-page-text: 'Petit Formal Script', cursive;
    --fnt-form-entry: 'Nanum Gothic', sans-serif;

    --clr-background: var(--clr-dark);
    --clr-page-text: var(--clr-darker);

    --clr-warning: #c64191ff;
    --clr-success:#028090;
    --clr-highlight: #f7f9dcff;

    --clr-light: #adfffaff;
    --clr-dark: #6d8bb0ff;
    --clr-darker: #3d528fff;
    --clr-darkest:#0b132bff;
    --clr-contrast: #e88d67ff;
}


    /* reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    font-size: 24px;
    font-weight: 400;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* End of reset */





.today{
    background-color: yellow;
}


/* ? index structure */

/* ? php script */
/* ? .container >.row >.col-md-12>php script*/

/* ?  >center>h2 */
/* ? btn btn-xs btn-primary */
/* ? >table.table.table-bordered>tbody> */
/* ?  tr>th day-header*/
/* ?  tr>td>h4 */
/* ? btn btn-xs btn-primary */
/* ? footer */


/* ? Bookings structure */
/* ? main>.container>.row.center> */
/* ? LOOP  >.form-group>col-md-2>button.btn.btn-success */
  
/* ? footer>p>img*/




container{
    width: 100%;
}

.row{
    margin: 0.75rem auto 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    align-items:center;
    padding: 1rem;
}


.col-md-2{
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;

}


.col-md-6{
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    flex:0 0 auto;
    width:50%;
    margin-left: 25%;
}

.form-group{
    padding: 1rem auto 1rem;
    display: flex;
    flex-flow: row wrap;
}

center{
    align-items:center;

}

h2{
    font-size:2rem;
    font-family: var(--fnt-page-title);
    margin: 0.75rem 30% 0.5rem;
}

table{
    width: clamp(85%,95%,100%);
    line-height:1.42857143;
    vertical-align:top;
}

.table{
    background-color: #fff;
    padding:8px;
}

.table-bordered{
    border: 1px solid gray;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
}

.h4-header{
    font-family: var(--fnt-page-text);
    font-weight: 200;
    color: var(--clr-darkest);
    background-color: #fff;
    margin-left: 30%;
}

.day-header{
    font-family: var(--fnt-page-title);
    font-weight: 200;
    color: var(--clr-darkest);
    background-color: #fff;
}

.tr{
    width: 100%;
    border: 1px solid gray;
}


.th{
    font-family: var(--fnt-page-title);}

td{ 
    width: clamp(15%, 250px, 22%);
    margin: 0.5rem 1.5rem 0.75rem;
    padding: 0.25rem 1.5rem 0.5rem;
    border: 2px solid gray;
}

h4{
    font-family: var(--fnt-page-text);
    align-items: center;
}

button a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.btn{
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin:0.25rem;
    vertical-align:middle;
}

a:after .button:hover{
    opacity: 1;
    right: 0;
  }

.btn-xs{
    border: 2px solid var(--clr-darkest);
    font-family: var(--fnt-form-entry);
}

.btn-primary{
    transition-duration: 0.4s;
    background-color: var(--clr-light);
    color: var(--clr-darker);
}

.btn-danger{
    background-color: var(--clr-warning);
}

.btn-success{
    transition-duration: 0.4s;
    background-color: var(--clr-success);
}


.btn:hover {
    background-color: var(--clr-darkest);
    color: var(--clr-light);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

footer{
    font-family: var(--fnt-page-title);
    background-color: var(--clr-highlight);
    text-align:right;
    margin: 1rem auto 1rem;
}

.footer{
    background-color: var(--clr-warning);
    padding: .25rem;
}

.fade{
    opacity:0;
    -webkit-transition:opacity .15s linear;-o-transition:opacity .15s linear;
    transition:opacity .15s linear;
}


modal{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1050;
    display:none;
    overflow:hidden;-webkit-overflow-scrolling:touch;outline:0;
}

.modal-body{
    position:relative;
    padding:15px;
}

.modal-footer{
    padding:15px;
    text-align:right;
    border-top:1px solid #e5e5e5;
}

.modal-header::before{
    display:table;
        content:" ";
    }

.modal-hearer::after{
    clear:both;
}

.modal-open{overflow:hidden;}

.modal{
    position:fixed;
    top:0;right:0;
    bottom:0;
    left:0;
    z-index:1050;
    display:none;
    overflow:hidden;
    -webkit-overflow-scrolling:touch;
    outline:0;
}

.modal.fade .modal-dialog{
    -webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);
    -o-transform:translate(0,-25%);
    transform:translate(0,-25%);-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out;transition:transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out;
}

.modal.in .modal-dialog{
    -webkit-transform:translate(0,0);-ms-transform:translate(0,0);
    -o-transform:translate(0,0);
    transform:translate(0,0);
}

.modal-open .modal{overflow-x:hidden;overflow-y:auto}

.modal-dialog{
    position:relative;
    width:auto;
    margin:10px;
}

.modal-content{
    position:relative;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #999;
    border:1px solid rgba(0,0,0,.2);
    border-radius:6px;
    -webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);
    outline:0;
}

.modal-backdrop{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1040;
    background-color:#000;
}

.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}

.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}

.modal-header{padding:15px;border-bottom:1px solid #e5e5e5}.modal-header .close{margin-top:-2px}

.modal-title{margin:0;line-height:1.42857143}.modal-body{position:relative;padding:15px}

.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}

.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}

.modal-footer .btn-group .btn+.btn{margin-left:-1px}

.modal-footer .btn-block+.btn-block{margin-left:0}

.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}

@media (min-width:768px){
    .modal-dialog{width:600px;margin:30px auto}
    .modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}
    .modal-sm{width:300px}
}
    
@media (min-width:992px){
    .modal-lg{width:900px}
}

.tooltip{
    position:absolute;z-index:1070;display:block;font-family:var(--fnt-page-title),Helvetica,Arial,sans-serif;
    
    font-style:normal;font-weight:400;line-height:1.42857143;line-break:auto;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;word-wrap:normal;white-space:normal;font-size:12px;filter:alpha(opacity=0);opacity:0
}




